*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.gameboard-container{
    max-width: 960px;
    height: 960px;
    margin: 100px auto;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.box{
    display: flex;
    background-color: lightblue;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    font-size: 15rem;
    align-items: center;
    justify-content: center;
}